<footer class="site-footer">

  <div class="wrapper">

    <p>{{ site.description }}</p>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Business Inquiries</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
              <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter_username }}</a>
          </li>
          {% endif %}
          <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="Schmoopiie" data-hashtags="tmi.js">Tweet</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p id="randomQuote"></p>
      </div>
    </div>

  </div>
</footer>
<script src="{{ site.url }}/js/anchor.min.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
    var selector = ".docs-layout h2, .docs-layout h3";
    anchors.options = {
        placement: "left",
        class: "anchor-link"
    };
    anchors.add(selector);
</script>
<script>
if (typeof String.prototype.endsWith !== "function") {
    String.prototype.endsWith = function(suffix) {
        return this.indexOf(suffix, this.length - suffix.length) !== -1;
    };
}

// Triggered when changing the version from select box..
function changeVersion() {
    var e = document.getElementById("version");
    var strVersion = e.options[e.selectedIndex].value;
    window.location = "{{ site.url }}/" + strVersion + "/";
}

// Update the URL if the version is not specified..
var links = document.links;

for(var i = 0; i < links.length; i++) {
    var link = links[i].href;

    // Make sure the link is not external and targets a document in the documentation..
    if (link.indexOf("{{ site.url }}") === 0 && link.endsWith(".html")) {
        var url = link.substring(0, link.lastIndexOf("/") + 1);
        var file = link.split("/").pop();
        var parts = url.split("/");

        // No version specified in the URL..
        if (/^v(\d+\.)?(\d+\.)?(\*|\d+)\(rc\d+)?$/.test(parts[parts.length-2]) === false) {
            var e = document.getElementById("version");
            var strUser = e.options[e.selectedIndex].value;
            links[i].href = url + strUser + "/" + file;
        }
    }
}

// Some random quotes that appears in the bottom of the page..
var quotes = [
    "The best thing about a boolean is even if you are wrong, you are only off by a bit.",
    "There are two ways to write error-free programs; only the third one works.",
    "One man’s crappy software is another man’s full time job.",
    "In order to understand recursion, one must first understand recursion."
]
document.getElementById("randomQuote").innerHTML = quotes[Math.floor(Math.random()*quotes.length)];
</script>
